body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: rgba(169, 169, 169, 0.185);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji_container {
  display: flex;
  flex-direction: row;
}
.emoji {
  font-size: 2rem;
  cursor: pointer;
}
.emoji:hover {
  transform: scale(1.1);
  transition: all 0.3s linear;
}
